#root, .ui.card {
    height: 100%;
}

#root .ui.card>.kudos {
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
}

#root .ui.card>.kudos .content {
    width: 100%;
}

#root .kudos .header,
#root .kudos .meta {
    font-size: 5em;
    line-height: 82px;
}

#root .kudos {
    background-color: #222;
    color: lightgray;
}

#root .kudos .meta {
    font-size: 3em;
    color: lightgray;
}

#root .name-label {
    color: #ffd003;
}
#root .kudos .name-label,
#root .kudos .name {
    display: inline;
}

#root .kudos .description {
    font-size: 28px;
    line-height: 40px;
}

#root .all-reactions {
    margin: 15px;
}

#root .reaction {
    margin: 15px;
}
/*
46px
20px;

163px;
75
*/
