#root, .ui.card {
    height: 100%;
}

#root .ui.card>.kudos {
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
}

#root .kudos .header,
#root .kudos .meta {
    font-size: 75px;
    line-height: 87px;
}

#root .kudos .description {
    font-size: 28px;
    line-height: 40px;
}

/*
46px
20px;

163px;
75
*/
